@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes strafe {
  from {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  to {
    trtransform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes moving {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(0, -400px) rotate(0deg);
  }
}

@keyframes space-anim-mid {
  /* mid-level stars */
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 386px;
  }
}

@keyframes space-anim-far {
  /* far stars */
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 386px;
  }
}

@keyframes space-anim-close {
  /* close stars */
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 386px;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.25),
      0 0 1px rgba(255, 255, 255, 0.25), 0 0 9px rgba(255, 255, 255, 0.25),
      0 0 10px rgba(0, 255, 170, 0.25), 0 0 20px rgba(0, 255, 170, 0.25),
      0 0 30px rgba(0, 255, 170, 0.25), 0 0 40px rgba(0, 255, 170, 0.25),
      0 0 15px rgba(0, 255, 170, 0.25);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#space {
  background-image: url(assets/stars/medium.png);
  background-repeat: repeat;
  background-size: contain;
}

#space::before {
  background-image: url(assets/stars/small.png);
}

#space::after {
  background-image: url(assets/stars/big.png);
}

#space::before,
#space::after {
  content: "";
  position: absolute;
  background-repeat: repeat;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.text-glow {
  animation: flicker 3s infinite;
}

@media (prefers-reduced-motion: no-preference) {
  #space {
    animation: space-anim-mid 16s infinite linear;
  }

  #space::before {
    animation: space-anim-far 24s infinite linear;
  }

  #space::after {
    animation: space-anim-close 8s infinite linear;
  }

  .logo-spin {
    animation: logo-spin infinite 20s linear;
  }

  .animate-ship.left {
    transform: matrix3d(1, 0, 0, -0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation: strafe 0.5s ease-out;
  }
  .animate-ship.right {
    transform: matrix3d(1, 0, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation: strafe 0.5s ease-out;
  }
  .animate-ship.idle {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  .animate-ship.moving {
    animation: moving 0.8s ease-out;
  }
}
